Repository Synor/synor: changes, and which Codecov flags are due for each by the changed paths.
All: core, database_mongodb, database_mysql, database_postgresql, database_sqlite, source_file

docs: update codecov coverage badges
  README.md
  packages/core/README.md
  packages/database-mongodb/README.md
  packages/database-mysql/README.md
  packages/database-postgresql/README.md
  packages/database-sqlite/README.md
  packages/source-file/README.md
Due: core, database_mongodb, database_mysql, database_postgresql, database_sqlite, source_file

chore(cli): add .eslintignore
  packages/cli/.eslintignore
Due: none

feat(cli): add shell completion support for zsh
  packages/cli/README.md
  packages/cli/package.json
  yarn.lock
Due: none

test(cli): remove lint from posttest script
  packages/cli/package.json
Due: none

ci: tweak step - Bootstrap
  .github/workflows/ci.yml
Due: none

build: update devDependencies
  package.json
  patches/@lerna+conventional-commits+3.18.5.dev.patch
  patches/conventional-changelog-conventionalcommits+4.2.3.dev.patch
  yarn.lock
Due: none

build(cli): update devDependencies
  packages/cli/package.json
  yarn.lock
Due: none

feat(cli): add shell completion support for bash & fish
  packages/cli/README.md
  packages/cli/package.json
  yarn.lock
Due: none

chore: release
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/database-mongodb/CHANGELOG.md
  packages/database-mongodb/package.json
  packages/database-mysql/CHANGELOG.md
  packages/database-mysql/package.json
  packages/database-postgresql/CHANGELOG.md
  packages/database-postgresql/package.json
  packages/database-sqlite/CHANGELOG.md
  packages/database-sqlite/package.json
  packages/source-file/CHANGELOG.md
  packages/source-file/package.json
Due: core, database_mongodb, database_mysql, database_postgresql, database_sqlite, source_file

docs(cli): update README
  packages/cli/README.md
Due: none

chore(cli): update dependencies
  packages/cli/package.json
  yarn.lock
Due: none

build(cli): fix version script
  packages/cli/package.json
Due: none

chore: release
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
Due: none

ci: fix ci/plugins/github.sh set-env
  scripts/ci/plugins/github.sh
Due: none

ci: use node 12
  .github/workflows/ci.yml
Due: none

test(core): update utils/sort expected result
  packages/core/src/utils/sort.test.ts
Due: core

feat(database-postgresql): move 'pg' to peerDependencies
  packages/database-postgresql/README.md
  packages/database-postgresql/package.json
  yarn.lock
Due: database_postgresql

feat(database-mysql): move 'mysql' to peerDependencies
  packages/database-mysql/README.md
  packages/database-mysql/package.json
  packages/database-mysql/src/queries.ts
  yarn.lock
Due: database_mysql

feat(database-mongodb): move 'mongodb' to peerDependencies
  packages/database-mongodb/README.md
  packages/database-mongodb/package.json
  yarn.lock
Due: database_mongodb

feat(database-sqlite): move 'better-sqlite3' to peerDependencies
  packages/database-sqlite/README.md
  packages/database-sqlite/package.json
  yarn.lock
Due: database_sqlite

fix(database-mongodb): useUnifiedTopology with MongoClient.connect
  packages/database-mongodb/jest.env.js
  packages/database-mongodb/src/index.test.ts
  packages/database-mongodb/src/index.ts
Due: database_mongodb

ci: fix build script
  .github/workflows/ci.yml
Due: none

chore: release
  packages/database-mongodb/CHANGELOG.md
  packages/database-mongodb/package.json
  packages/database-mysql/CHANGELOG.md
  packages/database-mysql/package.json
  packages/database-postgresql/CHANGELOG.md
  packages/database-postgresql/package.json
  packages/database-sqlite/CHANGELOG.md
  packages/database-sqlite/package.json
Due: database_mongodb, database_mysql, database_postgresql, database_sqlite

chore: remove patch-package
  package.json
  yarn.lock
Due: none

feat(database-mongodb): update utils/get-config
  packages/database-mongodb/package.json
  packages/database-mongodb/src/utils/get-config.ts
  yarn.lock
Due: database_mongodb

chore: release
  packages/database-mongodb/CHANGELOG.md
  packages/database-mongodb/package.json
Due: database_mongodb

feat: add ignoreLocalMissing flag
  packages/core/src/index.ts
  packages/core/src/migrator/index.ts
Due: core

feat: add ignoreLocalMissing to cli
  packages/cli/src/command.ts
Due: none

feat(core): expose DatabaseEngine and SourceEngine
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/migrator/index.test.ts
  packages/core/src/migrator/index.ts
Due: core

Path conditions:
  core: any of: packages/core
  database_mongodb: any of: packages/database-mongodb
  database_mysql: any of: packages/database-mysql
  database_postgresql: any of: packages/database-postgresql
  database_sqlite: any of: packages/database-sqlite
  source_file: any of: packages/source-file
