Repository Synor/synor: changes, and which Codecov flags are due for each by the changed paths.
All: core, database_mongodb, database_mysql, database_postgresql, database_sqlite, source_file

.codecov.yml:

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  database_mongodb:
    paths:
      - packages/database-mongodb
    carryforward: true
  database_mysql:
    paths:
      - packages/database-mysql
    carryforward: true
  database_postgresql:
    paths:
      - packages/database-postgresql
    carryforward: true
  database_sqlite:
    paths:
      - packages/database-sqlite
    carryforward: true
  source_file:
    paths:
      - packages/source-file
    carryforward: true

feat(core): expose DatabaseEngine and SourceEngine
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/migrator/index.test.ts
  packages/core/src/migrator/index.ts
Due: core

feat(cli): expose initSynor function
  packages/cli/src/index.ts
Due: none

build(cli): update scripts
  packages/cli/package.json
Due: none

feat(core): expose config
  packages/core/src/index.test.ts
  packages/core/src/index.ts
Due: core

chore: release
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/database-mongodb/CHANGELOG.md
  packages/database-mongodb/package.json
  packages/database-mysql/CHANGELOG.md
  packages/database-mysql/package.json
  packages/database-postgresql/CHANGELOG.md
  packages/database-postgresql/package.json
  packages/database-sqlite/CHANGELOG.md
  packages/database-sqlite/package.json
  packages/source-file/CHANGELOG.md
  packages/source-file/package.json
Due: core, database_mongodb, database_mysql, database_postgresql, database_sqlite, source_file

feat(core): export SynorMigration
  packages/core/src/index.ts
Due: core

perf(cli): improve .ts config file reading performance
  packages/cli/src/utils/register-ts-node.ts
Due: none

ci: set initial checkout depth to 5
  .github/workflows/ci.yml
  scripts/ci/checkout.sh
Due: none

chore: release
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
Due: none

fix(database-mysql): queryStore.getMigrationTableColumnNames for MySQL8
  packages/database-mysql/src/queries.ts
Due: database_mysql

chore: release
  packages/database-mysql/CHANGELOG.md
  packages/database-mysql/package.json
Due: database_mysql

fix(database-mysql): mysql8 auth, use driver 'mysql2'
  packages/database-mysql/README.md
  packages/database-mysql/jest.env.js
  packages/database-mysql/package.json
  packages/database-mysql/src/__snapshots__/index.test.ts.snap
  packages/database-mysql/src/index.test.ts
  packages/database-mysql/src/index.ts
  packages/database-mysql/src/queries.ts
  packages/database-mysql/src/utils/__snapshots__/run-query.test.ts.snap
  packages/database-mysql/src/utils/get-config.test.ts
  packages/database-mysql/src/utils/get-config.ts
  packages/database-mysql/src/utils/run-query.test.ts
  packages/database-mysql/src/utils/run-query.ts
  yarn.lock
Due: database_mysql

fix(database-mysql): queryStore.getTableNames for MySQL8
  packages/database-mysql/src/queries.ts
Due: database_mysql

test(database-mysql): add tests for MySQL8
  packages/database-mysql/docker-compose.test.yml
  packages/database-mysql/jest.env.js
  packages/database-mysql/src/__snapshots__/index.test.ts.snap
  packages/database-mysql/src/index.test.ts
  packages/database-mysql/src/utils/__snapshots__/run-query.test.ts.snap
  packages/database-mysql/src/utils/run-query.test.ts
Due: database_mysql
